* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainWelcomebackground {
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.welcomeContent {
    width: 100%;
    height: 100%;
    padding: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 3fr 8fr 1fr 3fr;
    /* transition: all 2s ease-in-out; */
}

.welcomeContent span {
    font-size: 1.2rem;
    font-weight: bolder;
}

.logoWelcome {
    width: 90px;
    vertical-align: middle;
    margin: 20px;
}

.divMain {
    max-width: 800px;
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
}

.divMain h1 {
    font-size: 2.4rem;
    margin-bottom: 50px;
}

.divMain p {
    margin-bottom: 40px;
}

/* Media Queries */

@media screen and (max-width: 500px) {
    .logoWelcome {
        width: 70px;
    }

    .divMain h1 {
        font-size: 1.9rem;
    }

    .divMain p {
        font-size: 1.5rem;
    }

    .welcomeContent {
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px;
    }
}

@media screen and (max-width: 380px) {
    .logoWelcome {
        width: 50px;
    }

    .divMain h1 {
        font-size: 1.6rem;
    }

    .divMain p {
        font-size: 1.3rem;
    }

    .welcomeContent button {
        width: 160px;
        font-size: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
}