.btnWelcome {
    align-self: center;
    justify-self: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: 200px;
    letter-spacing: .6px;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #00000099;
    color: #fff;
    border: 2px solid #fff;
    transition: all .4s ease-out;
}

.btnWelcome:hover {
    box-shadow: 0px 0px 10px 2px #fff;
    background-color: #00000050;
}

.icon {
    margin-right: 8px;
}

.loginForm {
    width: 70%;
    min-width: 380px;
    text-align: center;
    justify-self: center;
}
